<div class="uk-container uk-flex uk-flex-center uk-flex-middle uk-gap-small uk-text-light">

    <i material> wallet </i> <h2> Proximamente </h2> <i material> wallet </i> 
     
    <!--
    <a class="uk-flex uk-flex-middle uk-light uk-gap-none" href="/#">
        <i material> wallet </i> 
        <h3 class="uk-inline"> miPOS </h3>
    </a> <br>
    
    <div class="uk-grid uk-grid-match uk-child-width-1-3@s">
        <div><p>
            The world first Tor whatsapp-like messenger in the world <br>
        </p></div>
        <div class="uk-flex uk-flex-center"><ul>
            <li> <a href="/#">      Home  </a> </li>
            <li> <a href="/faq">    Faq   </a> </li>
            <li> <a href="/#donate">Donate</a> </li>
            <li> <a href="/contact">Contact Us</a> </li>
        </ul></div>
        <div class="uk-flex uk-flex-center"><ul>
            <li> <a href="/public_key.txt">PGP Key</a> </li>
            <li> <a href="/canary">Canary</a> </li>
            <li> <a href="/dread">Dread</a> </li>
        </ul></div>
    </div>
    -->
    
</div>