<div class="uk-flex uk-flex-middle uk-flex-column uk-padding-small
            uk-animation-slide-bottom-small uk-animation-fade">
    <img style="mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 80%);"
         src="/assets/img/main2.png" alt="imagen" class="uk-hidden@s" >
    <img src="/assets/img/main2.png" alt="imagen" class="uk-visible@s" >
</div>

<div class="uk-animation-slide-bottom-small uk-animation-fade
            uk-flex uk-flex-column uk-padding">
    
    <h2> Sin Comisiones ni tarifas ocultas </h2> <br>
    <h4> Una de las principales ventajas de miPOS es que no cobra comisiones por transacción. Esto significa que los usuarios pueden recibir pagos sin preocuparse por costos adicionales que puedan afectar sus márgenes de ganancia. Esta transparencia en los costos es fundamental para construir confianza con los emprendedores. </h4>
    <br>
    <h4> En cambio, el modelo de negocios de miPOS se basa en un sistema de suscripciones que permite a los pequeños negocios y emprendedores acceder a una plataforma de punto de venta completa, sin preocuparse por costos adicionales. </h4>

    <br>

    <div><a class="uk-background-success uk-text-secondary
                   uk-flex uk-flex-middle uk-flex-center 
                   uk-width-1-3" 
             button href="/#notify" > 
        <i material> campaign </i> suscribirse
    </a></div>
    
</div>