<div class="uk-animation-slide-bottom-small uk-animation-fade uk-flex-wrap
            uk-flex uk-child-width-1-3@m uk-padding">
    
    <div class="uk-padding-small">
        <h4> <e> Recepción de Pagos </e><br><br> miPOS admite lectores de tarjetas EMV para garantizar transacciones seguras. Además, utiliza algoritmos de PGP y cifrado de extremo a extremo para proteger los datos de las transacciones, asegurando que la información del cliente esté siempre segura. </h4> <br>
    </div>
    
    <div class="uk-padding-small uk-border uk-border-primary uk-rounded-small">
        <h4> <e> Diseño Amigable </e><br><br> miPOS cuenta con una diseño intuitivo que permite a los usuarios navegar fácilmente a través de sus funciones. Esto es ideal para emprendedores que pueden no tener experiencia técnica, ya que pueden comenzar a usarla sin necesidad de capacitación extensa. </h4> <br>
    </div>
    
    <div class="uk-padding-small">
        <h4> <e> Compatibilidad </e><br><br> miPOS es compatible con computadoras, smartphones y tablets. Esto significa que los vendedores pueden operar desde cualquier dispositivo que prefieran, ya sea en su tienda, en el campo o en eventos, brindando versatilidad y comodidad. </h4> <br>
    </div>

</div>