<div class="uk-animation-slide-bottom-small uk-animation-fade uk-flex-wrap
            uk-flex uk-child-width-1-3@m uk-padding">

    <div class="uk-padding-small">
        <h4> <e> Integración </e><br><br> miPOS puede integrarse con aplicaciones y servicios de terceros, como sistemas de contabilidad y gestión de relaciones con clientes (CRM). Esta funcionalidad permite una gestión más holística del negocio. </h4>
    </div>

    <div class="uk-padding-small uk-border uk-border-primary uk-rounded-small">
        <h4> <e> Reportes y Análisis </e><br><br> miPOS proporciona informes detallados de ventas y análisis de desempeño del negocio. Los usuarios pueden acceder a datos sobre las transacciones, identificar tendencias de compra y realizar análisis que faciliten la toma de decisiones informadas. <h4>
    </div>

    <div class="uk-padding-small">
        <h4> <e> Conexión </e><br><br> miPOS requiere solo de una conexión a internet estable para funcionar, lo que permite a los negocios procesar pagos en tiempo real sin necesidad de un hardware costoso o complicado. </h4>
    </div>

</div>