<div class="uk-animation-slide-bottom-small uk-animation-fade
            uk-flex uk-flex-column uk-padding">
    
    <h2> Convierte cualquier dispositivo <br> En un punto de venta con <e>miPOS</e> </h2> <br>
    <h4> Con miPOS, emprendedores y pequeños negocios tienen la emocionante oportunidad de transformar sus dispositivos inteligentes en un potente y versátil punto de venta. Esta innovadora solución les permite aceptar pagos de manera rápida y segura, sin necesidad de invertir en costosos equipos adicionales. </h4> 
    <br>

    <div><a class="uk-background-success uk-text-secondary
                   uk-flex uk-flex-middle uk-flex-center 
                   uk-width-1-3" 
             button href="/#notify" > 
        <i material> campaign </i> suscribirse
    </a></div>

</div>

<div class="uk-flex uk-flex-middle uk-flex-column uk-padding-small
            uk-animation-slide-bottom-small uk-animation-fade">
    <img style="mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 80%);"
         src="/assets/img/main1.png" alt="imagen" class="uk-hidden@s" >
    <img src="/assets/img/main1.png" alt="imagen" class="uk-visible@s" >
</div>