<nav class="uk-navbar uk-navbar-container uk-padding-small uk-padding-remove-vertical" navbar>

    <div class="uk-navbar-left"><div class="uk-navbar-item">
        <div class="uk-background-dark uk-text-light uk-flex uk-flex-middle uk-flex-center uk-gap-small"
             href="/#" button>
           <a href="/#" class="uk-visible@m"><i material> deployed_code </i></a>
           <a href="/#" class="uk-hidden@m"> <i material> menu </i></a>
           <a href="/#"><h3> PagoGO </h3></a>
    </div>
    </div></div>

    <div class="uk-navbar-right"><ul class="uk-navbar-nav uk-text-dark">
        <li><a href="/#home"  tooltip="Configuracion" tooltip-bottom><i material button-outline> settings        </i></a></li>
        <li><a href="/#about" tooltip="Scanear"       tooltip-bottom><i material button-outline> qr_code_scanner </i></a></li>
    </ul></div>

</nav>